# =========================
# STM32CubeIDE
# =========================

# Build output
Debug/
Release/

# Eclipse / CubeIDE workspace settings
.settings/
.metadata/

# Eclipse project files generated locally
*.launch

# =========================
# Compiled files
# =========================

*.o
*.d
*.elf
*.map
*.hex
*.bin
*.list
*.su

# =========================
# Temporary files
# =========================

*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# =========================
# STM32CubeIDE generated
# =========================

*.log